<template name="foodList">

    <div style="width: 1170px; margin: 0px auto; padding: 0px 45px 0px 45px;">
        <div class="row">
            <div>
                <div class="thumbnail" style="float: left; width: 800px;">
                    <img src="rice.jpg" style="float: left; width: 250px; height: 260px; margin: 0px 10px 0px 0px;">
                    <div class="caption">
                        <h3 style="font-family: 'Adobe 고딕 Std B'">{{title}}</h3>
                        <p style="font-family: 'Adobe 명조 Std M'; height: 133px;">{{material}}</p>
                    </div>
                    <p><a href="#" class="btn btn-primary" role="button">좋아요{{hand}}</a> <a href="#" class="btn btn-default" role="button">댓글달기</a></p>
                </div>

                <div class="thumbnail"
                     style="float: left; width: 250px; height: 270px; background-color: pink; font-family: '210 맨발의청춘 B'; font-size: 15px;">
                    오늘의 추천요리!
                    <!--<img src="l_025.png" style="background-color: pink">-->
                    <div class="caption">
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>