<template name="formAdd">
    <label style="color: gray" for="image">
        <span style="color: hotpink" class="glyphicon glyphicon-heart" aria-hidden="true"></span> Picture
    </label>

    <input type="file" name="image" id="image" style="color: gray">

    <label style="color: gray" for="context">
        <span style="color: hotpink" class="glyphicon glyphicon-heart" aria-hidden="true"></span> Context
    </label>

    <textarea class="form-control context" rows="3" id="context" placeholder="내용을 입력해주세요..."></textarea>

</template>